PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE users (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        username STRING NOT NULL UNIQUE,
        password STRING NOT NULL
        );
INSERT INTO users VALUES(4,'Sofia','$2b$10$X0omVElGN5PlEbVevb7J3u/pfpCHAOuh/96NW.VOeUpS6hd.LjSOq');
CREATE TABLE tabs (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    user_id INTEGER,
    FOREIGN KEY(user_id) REFERENCES users(id)
    );
INSERT INTO tabs VALUES(1,'Thß╗▒c ─æ╞ín sß╗æng qua ng├áy',4);
INSERT INTO tabs VALUES(3,'Thß╗▒c ─æ╞ín giß║úm c├ón',4);
CREATE TABLE blocks (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        tab_id INTEGER,
        user_id INTEGER,
        day_name TEXT,
        breakfast TEXT,
        lunch TEXT,
        dinner TEXT,
        FOREIGN KEY(tab_id) REFERENCES tabs(id),
        FOREIGN KEY (user_id) REFERENCES users(id)
    );
INSERT INTO blocks VALUES(5,1,4,'Thß╗⌐ Hai','sinh tß╗æ: 1 ly','B├▓ sß╗æt r╞░ß╗úu vang: 500g','Trß╗⌐ng c├í muß╗æi: 50g, C╞ím g├á: 1 ─æ─⌐a');
INSERT INTO blocks VALUES(6,1,4,'Thß╗⌐ Ba','X├┤i g├á: 100g','C╞ím: 100g, c├í: 1 con',replace('C╞ím: 100g \n, thß╗ït b├▓: 50g','\n',char(10)));
INSERT INTO blocks VALUES(7,1,4,'Thß╗⌐ T╞░','B├ính m├¼: 1 ß╗ò','C╞ím: 1 t├┤, c├í: 2 con','C╞ím: 1 t├┤, g├á: 200g');
CREATE TABLE chats (

    id INTEGER PRIMARY KEY AUTOINCREMENT,
    thread_id INTEGER,
    user_id INTEGER,
    content TEXT,
    role TEXT NOT NULL DEFAULT 'user', image_path TEXT,

    FOREIGN KEY(thread_id) REFERENCES threads(id),
    FOREIGN KEY(user_id) REFERENCES users(id)
    );
INSERT INTO chats VALUES(1,1,4,'What is your name? Can you give me an easy diet to lose weight?','user',NULL);
INSERT INTO chats VALUES(2,1,4,'What is your name? Can you give me an easy diet to lose weight?','user',NULL);
INSERT INTO chats VALUES(3,1,4,'What is your name? Can you give me an easy diet to lose weight?','user',NULL);
CREATE TABLE threads (

    id INTEGER PRIMARY KEY AUTOINCREMENT,
    user_id INTEGER,
    name TEXT,

    FOREIGN KEY(user_id) REFERENCES users(id)
    );
INSERT INTO threads VALUES(1,4,'Test Thread');
INSERT INTO threads VALUES(8,4,'AI Recommendation - Thß╗▒c ─æ╞ín sß╗æng qua ng├áy');
INSERT INTO threads VALUES(11,4,'AI Recommendation - Thß╗▒c ─æ╞ín sß╗æng qua ng├áy');
CREATE TABLE meal_tracking (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    user_id INTEGER,
    date TEXT NOT NULL,
    breakfast_done INTEGER DEFAULT 0,
    lunch_done INTEGER DEFAULT 0,
    dinner_done INTEGER DEFAULT 0,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY(user_id) REFERENCES users(id),
    UNIQUE(user_id, date)
    );
CREATE TABLE user_settings (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    user_id INTEGER UNIQUE,
    main_tab_id INTEGER,
    FOREIGN KEY(user_id) REFERENCES users(id),
    FOREIGN KEY(main_tab_id) REFERENCES tabs(id)
    );
INSERT INTO user_settings VALUES(1,4,1);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('users',6);
INSERT INTO sqlite_sequence VALUES('tabs',3);
INSERT INTO sqlite_sequence VALUES('blocks',8);
COMMIT;
